.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  .container.grid

    %header

      .fhacktory_main_title
        =image_tag 'gear.png', class: 'gear'
        =link_to root_path do
          %h1 Fhacktory
      %h2 Build. Deliver. Win.
      %p.event Next event: Sep. 28-29 @ Lyon, FR
      %p.register
        %a.btn.btn-xlg.btn-primary{href: 'http://fhacktorylyon.eventbrite.com'}
          Register

   
    .content
      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend The Manifest - Build.

      .manifest-content
        .row
          .col-lg-12
            %em You shall
            show off the best of your technical skills
        .row
          .col-lg-12
            %em You shall
            deliver a usable alpha version of your hack in 36h
        .row
          .col-lg-12
            %em You shall
            build and demo something great, that other teams will respect you for
        .row
          .col-lg-12
            %em Please don't
            pitch a startup concept showing boring mockups and fancy power points.
        .row
          .col-lg-12
            And we'll provide everything for you to have fun during the fhacktory

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Evaluation - Deliver.

      .row.text-center.rules
        .col-lg-4
          %h4
            %em 60%
          %span Continuous Evaluation
          %p by the fhacktory advocates while helping out with your hack!
        .col-lg-4
          %h4
            %em 30%
          %span Alpha testing
          %p by the fhactory advocates and the audience
        .col-lg-4
          %h4
            %em 10%
          %span Stage score
          %p by measuring the enthusiasm of the crowd during your demo

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Prizes - Win.

      .row
        .col-lg-12
          One kindle fire per winners, + Blend (tickets + demo)
          \...and more to come! Stay tuned!

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Sponsors

      .row.sponsors.text-center
        .col-lg-12
          =link_to  'https://www.mailjet.com/' do
            =image_tag 'sponsors/mailjet.png',    alt: 'Mailjet'

          =link_to  'http://www.alloresto.fr/' do
            =image_tag 'sponsors/alloresto.png',  alt: 'AlloResto.fr'

          =link_to  'http://www.elbmultimedia.com/' do
            =image_tag 'sponsors/elb.png',        alt: 'ELB Multimedia'

          =link_to  'http://www.coca-cola.com' do
            =image_tag 'sponsors/coca-cola.png',  alt: 'Coca-Cola'

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Schedule

      .row.schedule
        .col-lg-6
          %h4 Saturday 09/28

          .row
            %dd 9h
            %dt Registration opening and Breakfast
          .row
            %dd 10h
            %dt Welcome address from the fhacktory, and sponsors talks
          .row
            %dd 10h30
            %dt Ideas presentation, team building and brainstorming
          .row
            %dd 12h
            %dt Lunch time!
          .row
            %dd 13h
            %dt Get set, ready, go!
          .row
            %dd 16h30
            %dt Snacks
          .row
            %dd 19h30
            %dt Diner

        .col-lg-6
          %h4 Sunday 09/29

          .row
            %dd 2h
            %dt Snacks
          .row
            %dd 9h
            %dt Breakfast
          .row
            %dd 13h
            %dt Beta time! Hacks must be available for beta testers
          .row
            %dd 13h
            %dt Lunch time!
          .row
            %dd 14h
            %dt Break and informal interviews between advocates and teams
          .row
            %dd 16h
            %dt Teams present their hack to the crowd. This is not a pitch, just the perfect time to share their work with hackers.
          .row
            %dd 18h
            %dt Best hack announcement
          .row
            %dd 18h30
            %dt Cocktail


      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend FAQ

      .row.fhack
        .col-lg-12
          .row
            %dd Why should I register?
            %dt
              This will be the first Hackathon taking place in Lyon! Do you really need more? Ok: sexy venue, great people, amazing athmospher, awesome prizes...
              %br/
              Looking for throwing some lines of codes, to build/develop crazy things, or just to have fun end of septembre? Stop reading, and register ;-)

          .row
            %dd What does the fee cover?
            %dt All inclusive: breakfasts, lunches, dinner, breaks, soft drinks, beers...!

          .row
            %dd Why isn't this event free?
            %dt As you can imagine, throwing an "all inclusive" two days hackathon has a cost. We only ask you for a small participation. And between us: you'll spend a lot more over the week-end if you don't come to the event ;-)

          .row
            %dd I am a biz guy. Is fHACKtory for me?
            %dt Of course it is. Sure we don't want you to waste time on most of the biz sutff, but there is still work for you: leadership, communication, wording...

          .row
            %dd Quel type de Hack? / Quels critères de séléction des gagnants
            %dt see evaluation form: https://fhacktory.hackpad.com/Team-evaluation-sheet-t4QAQQ3CX9y

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Who are we?

      .row.text-center
        .col-lg-4
          .avatar
            =image_tag 'avatars/ajoly.jpg'
          %h4 Adrien Joly
        .col-lg-4
          .avatar
            =image_tag 'avatars/slavison.jpg'
          %h4 Sébastien de Lavison
        .col-lg-4
          .avatar
            =image_tag 'avatars/tguillory.jpg'
          %h4 Thomas Guillory
