.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  %header

    .fhacktory_main_title
      =image_tag 'gear.png', class: 'gear'
      =link_to root_path do
        %h1 Fhacktory
    %h2 Building contest for futuremakers.
    %p.event Next event: Sep. 28-29 @ Lyon, FR
    %p
      %button.btn.btn-lg.btn-primary Register

 
  .content
    .row.text-center
      .col-lg-12
        %h3
          %fieldset
            %legend The Rules

    .row.text-center
      .col-lg-4
        %h4
          %em Build
          something great
        %ul
          %li Team 1-4
          %li Any technology

      .col-lg-4
        %h4
          %em Deliver
          within 36h
        %ul
          %li Your hack will be beta-tested

      .col-lg-4
        %h4
          %em Win
          awesome prizes

    .row.text-center.title
      .col-lg-12
        %h3
          %fieldset
            %legend The Sponsors

    .row.text-center.title
      .col-lg-12
        %h3
          %fieldset
            %legend The Who

    .row.text-center
      .col-lg-4
        %img.avatar
        %h3 Adrien Joly
      .col-lg-4
        %img.avatar
        %h3 Sébastien de Lavison
      .col-lg-4
        %img.avatar.img-responsive
        %h3 Thomas Guillory
