.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  .container.grid

    %header

      .fhacktory_main_title
        =image_tag 'gear.png', class: 'gear'
        =link_to root_path do
          %h1 Fhacktory
      %h2 Building contest for futuremakers.
      %p.event Next event: Sep. 28-29 @ Lyon, FR
      %p.register
        %button.btn.btn-xlg.btn-primary Register

   
    .content
      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend The Manifest

      .manifest-content
        .row
          .col-lg-12
            %em We don't
            expect you to build the
            %b New Big Thing
            in 36h
        .row
          .col-lg-12
            %em We don't
            expect you to pitch a
            %b startup concept
            showing boring mockups
        .row
          .col-lg-12
            %em We do
            expect you to show off
            %b the best of your technical skills
        .row
          .col-lg-12
            %em We do
            expect you to <b>build something great</b>, that other teams will respect you for
        .row
          .col-lg-12
            %em We do
            expect you to deliver a
            %b testable alpha version
            of your hack in 36h

        .row
          .col-lg-12.enjoy
            We expect you to <em>enjoy</em>!

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Rules

      .row.text-center.rules
        .col-lg-4
          %h4
            %em 60%
          %span Jury notation
          %p based on a continuous evaluation and live test of your hack
        .col-lg-4
          %h4
            %em 30%
          %span Alpha testing
          %p based on alpha testing of your hack by other teams and strangers
        .col-lg-4
          %h4
            %em 10%
          %span Stage score
          %p based on your ability to make a great demonstration at pitching time

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Prizes

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Sponsors

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Schedule

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend "Fhack"

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Who are we?

      .row.text-center
        .col-lg-4
          .avatar
            =image_tag 'avatars/ajoly.jpg'
          %h4 Adrien Joly
        .col-lg-4
          .avatar
            =image_tag 'avatars/slavison.jpg'
          %h4 Sébastien de Lavison
        .col-lg-4
          .avatar
            =image_tag 'avatars/tguillory.jpg'
          %h4 Thomas Guillory
