.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  %header

    .fhacktory_main_title
      =image_tag 'gear.png', class: 'gear'
      =link_to root_path do
        %h1 Fhacktory
    %h2 Building contest for futuremakers.
    %p.event Next event: Sep. 28-29 @ Lyon, FR

