.container
  =image_tag 'header.jpg', width: '1800', height: '1200', class: 'background', :'data-stellar-ratio' => 0.3

  .container.grid

    %header

      .fhacktory_main_title
        =image_tag 'gear.png', class: 'gear'
        =link_to root_path do
          %h1 Fhacktory
      %h2 Build. Deliver. Win.
      %p.event Next event: Sep. 28-29 @ Lyon, FR
      %p.register
        %button.btn.btn-xlg.btn-primary Register

   
    .content
      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend The Manifest

      .manifest-content
        .row
          .col-lg-12
            %em We don't
            expect you to build the
            %b New Big Thing
            in 36h
        .row
          .col-lg-12
            %em We don't
            expect you to pitch a
            %b startup concept
            showing boring mockups
        .row
          .col-lg-12
            %em We do
            expect you to show off
            %b the best of your technical skills
        .row
          .col-lg-12
            %em We do
            expect you to <b>build something great</b>, that other teams will respect you for
        .row
          .col-lg-12
            %em We do
            expect you to deliver a
            %b testable alpha version
            of your hack in 36h

        .row
          .col-lg-12.enjoy
            We expect you to <em>enjoy</em>!

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Rules

      .row.text-center.rules
        .col-lg-4
          %h4
            %em 60%
          %span Jury notation
          %p based on a continuous evaluation and live test of your hack
        .col-lg-4
          %h4
            %em 30%
          %span Alpha testing
          %p based on alpha testing of your hack by other teams and strangers
        .col-lg-4
          %h4
            %em 10%
          %span Stage score
          %p based on your ability to make a great demonstration at pitching time

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Prizes

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Sponsors

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Schedule

      .row.schedule
        .col-lg-6
          %h4 Saturday 09/28

          .row
            %dd 9h
            %dt Registration opening and Breakfast
          .row
            %dd 10h
            %dt Welcome address from the fhacktory, and sponsors talks
          .row
            %dd 10h30
            %dt Ideas presentation, team building and brainstorming
          .row
            %dd 12h
            %dt Lunch time!
          .row
            %dd 13h
            %dt Get set, ready, go!
          .row
            %dd 16h30
            %dt Snacks
          .row
            %dd 19h30
            %dt Diner

        .col-lg-6
          %h4 Sunday 09/29

          .row
            %dd 2h
            %dt Snacks
          .row
            %dd 9h
            %dt Breakfast
          .row
            %dd 13h
            %dt Beta time! Hacks must be available for beta testers
          .row
            %dd 13h
            %dt Lunch time!
          .row
            %dd 14h
            %dt Break and informal interviews between advocates and teams
          .row
            %dd 16h
            %dt Teams present their hack to the crowd. This is not a pitch, just the perfect time to share their work with hackers.
          .row
            %dd 18h
            %dt Best hack announcement
          .row
            %dd 18h30
            %dt Cocktail


      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend "Fhack"

      .row.text-center.title
        .col-lg-12
          %h3
            %fieldset
              %legend Who are we?

      .row.text-center
        .col-lg-4
          .avatar
            =image_tag 'avatars/ajoly.jpg'
          %h4 Adrien Joly
        .col-lg-4
          .avatar
            =image_tag 'avatars/slavison.jpg'
          %h4 Sébastien de Lavison
        .col-lg-4
          .avatar
            =image_tag 'avatars/tguillory.jpg'
          %h4 Thomas Guillory
