@import compass/utilities/text/replacement
@import compass/typography
@import compass/css3/border-radius

$base-font-size: 14px
$base-line-height: 21px
* html
  font-size: 87.5% !important

html, body
  font-size: 14px !important
  line-height: 1.5em !important

.home.index

  .container
    position: relative

    //&.grid
    //  +baseline-grid-background($base-line-height, #fff)

    .background
      position: fixed
      left: 50%
      top: -250px
      width: 1800px
      margin-left: -900px

    .socials
      +adjust-font-size-to(21px)

      @media (max-width: 950px)
        +adjust-font-size-to(15.75px)

      position: fixed
      top: 0
      right: 0
      z-index: 150
      width: 4em
      background: #000
      text-align: right
      padding-right: 1em

      @media (max-width: 768px)
        position: absolute

      a, a:active, a:link, a:hover, a:visited
        text-decoration: none
        color: inherit

    .scroll-nav
      position: fixed
      top: 0
      left: 0
      z-index: 100
      width: 100%
      background: #000
      text-align: right
      padding-right: 6em

      @media (max-width: 768px)
        display: none

      .scroll-nav-list
        list-style: none
        margin: 0

        .scroll-nav-item
          +adjust-font-size-to(17.5px)

          @media (max-width: 950px)
            +adjust-font-size-to(15.75px)

          padding-left:   1em
          padding-right:  1em
          display: inline-block

          .scroll-nav-link
            color: #eee
            font-weight: bold

          &.active
            .scroll-nav-link
              text-decoration: underline


    header
      +padding-leader(7)
      text-align: center
      position: relative
      z-index: 0


      @media (max-width: 768px)
        +padding-leader(3)

      .fhacktory_main_title
        position: relative
        display: inline-block

        a, a:active, a:link, a:hover, a:visited
          text-decoration: none
          color: inherit

        $logo-height: 6 * $base-line-height
        $logo-width:  $logo-height * image-width('fhacktory.png') / image-height('fhacktory.png')
        h1
          +adjust-font-size-to($base-font-size)
          +adjust-leading-to(6)
          +replace-text('fhacktory.png')
          width: $logo-width
          background-size: 100%
          background-position: left top
          margin: 0 auto

        .gear
          $size: 45.69 * $logo-width / 100
          position: absolute
          left: 9.52 * $logo-width / 100
          top: -$size/2 + ($logo-height/ 2)
          z-index: -1

          width: $size
          height: $size

        @media (max-width: 768px)
          h1
            $logo-height: 2.75 * $base-line-height
            $logo-width:  $logo-height * image-width('fhacktory.png') / image-height('fhacktory.png')
            width: $logo-width
          .gear
            $size: 45.69 * $logo-width / 100
            position: absolute
            left: 9.52 * $logo-width / 100
            top: -$size/2 + ($logo-height/ 2)
            z-index: -1

            width: $size
            height: $size

      h2
        +adjust-font-size-to(56px)
        +padding-leader(3,56px)
        +padding-trailer(0,56px)

        @media (max-width: 768px)
          +adjust-font-size-to(42px)
          +padding-leader(0,42px)
          +padding-trailer(0,42px)
        
          span
            display: block

      .what
        +adjust-font-size-to(28px)
        @media (max-width: 768px)
          +adjust-font-size-to(21px)

      .event
        +adjust-font-size-to(28px)
        +padding-leader(1,28px)

      .next_event
        +adjust-font-size-to(28px)
        +padding-leader(1,28px)

      .register

        .btn-xlg
          +adjust-font-size-to(28px)
          +padding-leader(0.5)
          +padding-trailer(0.5)
          padding-left:   1em
          padding-right:  1em
          border: none


    .content
      +padding-trailer(20)

      .row
        +leader(1)
      .title
        +leader(4)

      h3
        +adjust-font-size-to(28px)

        @media (max-width: 768px)
          +adjust-font-size-to(17.5px)

        fieldset
          font-size: inherit
          line-height: inherit
          border-top: solid 1px #eee

          legend
            position: relative
            font-size: inherit
            line-height: inherit
            border: none
            width: auto
            font-weight: bold
            text-transform: uppercase
            color: #eee
            margin: 0
            padding: 0 2em

            &:before, &:after
              content: ""
              width: 21.5px
              height: 21px
              background-image: image-url('minigear.png')
              background-size: 100% 100%
              position: absolute
              top: 10.5px

            &:before
              left: 1em
              margin-left: -10.75px
            &:after
              right: 1em
              margin-right: -10.75px

      .manifest-content
        +leader(3)
        padding-left: 5em

        @media (max-width: 768px)
          padding-left: 0

        color: #999

        .col-lg-12
          +adjust-font-size-to(17.5px)

          @media (max-width: 768px)
            +adjust-font-size-to(14px)


        .row
          +leader(0)

        b
          color: #eee


      .avatar
        img
          $size: 5 * $base-line-height
          +border-radius(1000px)
          +leader(0.5)
          +trailer(0.5)
          width:  $size
          height: $size

      .rules
        +leader(3)

        @media (max-width: 768px)
          +leader(0)

        h4
          +adjust-font-size-to(52.5px)

          @media (max-width: 768px)
            +leader(3,52.5px)

        .desc
          +adjust-font-size-to(24.5px)
          display: block

        p
          +adjust-font-size-to(16px)
          +leader(1,16px)

      .prizes
        .big
          +adjust-font-size-to(28px)
          text-align: center

        h4
          +adjust-font-size-to(42px)
          text-align: center
          font-weight: bold

          &.gold
            color: #CFB53B
          &.silver
            color: #E6E8FA
          &.bronze
            color: #A67D3D

        ul
          +adjust-font-size-to(17.5px)
          list-style-type: none

          li
            display: inline-block

            &:after
              content: ", "

            &:last-child:after
              content: "."

            a
              color: #d96d00

      .sponsors
        img
          height: 100%

          &.mailjet
            height: 150%
        a
          display: inline-block
          +leader(2)
          margin-left: 2em
          margin-right: 2em
          height: 4*$base-line-height

        &.lcdw
          +leader(5)
          img
            +leader(0)

      .schedule
        h4
          +adjust-font-size-to(21px)
          color: #D96D00


        .row
          +leader(0)
          +trailer(0)
          width: 100%
          margin: 0 auto

        dd
          +adjust-font-size-to(21px)
          display: block
          float: left
          width: 4em
          font-weight: bold

        dt
          +adjust-font-size-to(16px)
          +adjust-leading-to(2,16px)
          display: block
          font-weight: normal
          padding-left: 84px

      .fhack
        h4
          +adjust-font-size-to(21px)

        .col-lg-12
          padding: 0 5em

          @media (max-width: 768px)
            padding: 0 1em

        .row
          +leader(2)
          +trailer(0)
          width: 100%
          margin-left: auto
          margin-right: auto

        dd
          +adjust-font-size-to(21px)
          display: block
          font-weight: bold
          color: #D96D00

        dt
          +adjust-font-size-to(16px)
          display: block
          font-weight: normal

      .who
        .col-lg-4
          padding: 0 3em

        .desc
          +adjust-font-size-to(14px)
